{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}

{% block body %}


  <h2 class="well al-center"> Welcome, {{ user.firstName }} {{ user.secondName }}
    {#<a href={{ path('testPage', {'id':user.id}) }}><button class="btn btn-inverse fl-right margin-top-5">TEST</button></a>#}
    <a href={{ path('_logout') }}><button class="btn btn-inverse fl-right margin-top-5">Выйти</button></a>
  </h2>

  <ol class="breadcrumb">
    <li class="active">Главная</li>
  </ol>

  {% if user.experiments is not empty %}

    {% for experiment in user.experiments %}

      <div class="select-box fl-left position-rel">
        <div class="opacity-box position-abs">
          <p>{{ experiment.expdate|date("d.m.Y") }}</p>
          <p>{{ experiment.status }}</p>
        </div>
        <a class="disp-block" href={{ path('userExperiment',{'id':user.id,'experimentId':experiment.id}) }}>
          <h4>{{ experiment.name}}</h4>
          <p>{{ experiment.description }}</p>
        </a>
      </div>

    {% endfor %}

  {% else %}
      <span class="prompt">Здесь будут отображаться ваши эксперименты</span>
  {% endif %}

  {% if user.benchmarks is not empty %}

    {% for benchmark in user.benchmarks %}

      <div class="select-box fl-left position-rel">
        <div class="opacity-box position-abs">
          <p>{{ benchmark.benchdate|date("d.m.Y") }}</p>
          <p>{{ benchmark.processor }}</p>
        </div>
        <a class="disp-block" href={{ path('finalBench',{'id':benchmark.id}) }}>
          <h4>{{ benchmark.name}}</h4>
          <p>{{ benchmark.description }}</p>
        </a>
      </div>

    {% endfor %}

  {% endif %}

  <form action="{{ path('experimentPage', {'id':user.id}) }}">
    <button type="submit" class="btn btn-success add">Добавить эксперимент</button>
  </form>
  <form action="{{ path('benchmarkPage', {'id':user.id}) }}">
    <button type="submit" class="btn btn-success add">Добавить бенчмарк</button>
  </form>


{% endblock %}