{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.secondName }} | {{ parent() }}{% endblock %}

{% block body %}

  <div id="hellobox"> Hello, {{ user.firstName }} {{ user.secondName }}</div>


  {% if user.experiments is not empty %}
    {% for experiment in user.experiments %}


        <a href={{ path('userExperiment',{'id':user.id,'experimentId':experiment.id}) }}>
          <h3>{{ experiment.name }}</h3></a>
          <span>{{ experiment.description }}</span>


    {% endfor %}

  {% else %}

      <span id="prompt">Здесь будут отображаться ваши эксперименты</span>

  {% endif %}

    <form action="{{ path('experimentPage') }}">
        <button type="submit">Добавить эксперимент</button>
    </form>


{% endblock %}