{% extends '::base.html.twig' %}

{% block title %}{{ experiment.name }} | {{ parent() }}{% endblock %}

{% block body %}


    <div class="well-custom al-center">
        <h3>{{ experiment.name }}</h3>
        <p>{{ experiment.description }}</p>
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ path('userPage',{'id': experiment.user.id}) }}">Главная</a></li>
        <li class="active">{{ experiment.name }}</li>
    </ol>


        {% if experiment.tables is not empty %}

            {% for table in experiment.tables %}

                <div class="select-box fl-left">
                    <a class="disp-block" href={{ path('finalTable',{'id':table.id}) }}>
                        <h4>{{ table.title }}</h4>
                        <p>{{ table.info }}</p>
                    </a>
                </div>

            {% endfor %}

        {% else %}
            <span class="prompt">Здесь будут отображаться ваши таблицы</span>
        {% endif %}

        <form method="post" action={{ path('tablePage',{'id':experiment.id}) }}>
            <button type="submit" class="btn btn-success add">Дабавить таблицу</button>
        </form>


{% endblock %}