{% extends '::base.html.twig' %}

{% block title %}{{ experiment.name }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

            <div class="">
                <h3>{{ experiment.name }}</h3>
                <p>{{ experiment.description }}</p>
            </div>


        {% if experiment.tables is not empty %}
            <u>Таблицы:</u>
            {% for table in experiment.tables %}

                {#<a href={{ path('filingTableForm',{'id':table.id , 'experimentid': experiment.id}) }}>#}
                    {#<a href={{ path('showTable',{'id':table.id , 'experimentid': experiment.id}) }}>#}
                    <a href={{ path('finalTable',{'id':table.id}) }}>
                    <h3>{{ table.title }}</h3>
                </a>
                <span>{{ table.info }}</span>

            {% endfor %}

        {% else %}

            <span id="prompt">Здесь будут отображаться ваши таблицы</span>

        {% endif %}

        <form method="post" action={{ path('tablePage',{'id':experiment.id}) }} >
            <button type="submit" class="btn btn-success">Дабавить таблицу</button>
        </form>


    </div>

{% endblock %}