{% extends '::base.html.twig' %}

{% block title %}{{ experiment.name }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

            <div class="fl-left">
                <h3>{{ experiment.name }}</h3>
                <p>{{ experiment.description }}</p>
            </div>

    </div>


    {% if experiment.tables is not empty %}
        <u>Таблицы:</u>
        {% for table in experiment.tables %}

            <a href={{ path('filingTable',{'id':table.id}) }}>

            <h3>{{ table.title }}</h3>
            </a>
            <span>{{ table.info }}</span>

        {% endfor %}

    {% else %}

        <span id="prompt">Здесь будут отображаться ваши таблицы</span>

    {% endif %}

    <form method="post" action={{ path('tablePage',{'id':experiment.id}) }} >
        <button type="submit">Дабавить таблицу</button>
    </form>


{% endblock %}