{% extends '::base.html.twig' %}

{% block title %}{{ table.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

        <div>
            <h3>{{ table.title }}</h3>
            <p>{{ table.info }}</p>
        </div>

    </div>




    {#<form id="" autocomplete="off" action="{{ path("fillingTable") }}" method="post" name="">#}

        <table>
            <tr>
                <th>Столбец</th>
                <th>Строка</th>
                <th>Значение</th>
            </tr>

        </table><br>







        <button type="submit">Создать</button>
    {#</form>#}







{% endblock %}