{% extends '::base.html.twig' %}

{% block title %}{{ table.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <div>
        <h3>{{ table.title }}</h3>
        <p>{{ table.info }}</p>
    </div>
    <hr>
    <h4>Заполните поля таблицы значениями:</h4>
    <form autocomplete="off" action="{{ path("fillingTable", {'id' : table.id}) }}" method="post">

        <table class="table table-bordered table-condensed">
            {% for row in table.rows %}
                <tr>
                    {% for col in table.columns %}
                        <td><input name="value[{{ row.id }}][{{ col.id }}]" ></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table><br>

        <button type="submit" class="btn btn-success">Создать</button>

    </form>
    <a href="{{ path('userExperiment',{'id': table.experiment.user.id, 'experimentId': table.experiment.id}) }}" class="btn">Назад</a>

{% endblock %}