{% extends '::base.html.twig' %}

{% block title %}{{ table.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

        <div>
            <h3>{{ table.title }}</h3>
            <p>{{ table.info }}</p>
        </div>

    </div>

{{ table.columns }}


    <form autocomplete="off" action="{{ path("fillingTable", {'id' : table.id}) }}" method="post">

        <table>
            {% for i in 1..table.rowCount %}
            <tr>
                {% for j in 1..table.columnCount %}
                <td><input name="value[{{ i }}][{{ j }}]" ></td>
                {% endfor %}
            </tr>
            {% endfor %}


        </table><br>







        <button type="submit">Создать</button>
    </form>







{% endblock %}