{% extends '::base.html.twig' %}

{% block title %}{{ table.title }} | {{ parent() }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

        <div>
            <h3>{{ table.title }}</h3>
            <p>{{ table.info }}</p>
        </div>

    </div>

        <table class="table table-hover table-bordered table-condensed">

            <tbody>
                {% for row in table.rows %}
                    <script>
                        var arr{{ loop.index }} = [];
                        var first = true;
                    </script>
                    <tr>
                        {% for value in row.values %}
                            <td>{{ value.value }}</td>
                            <script>
                                if (first) {
                                    first = false;
                                } else {
                                    arr{{ loop.parent.loop.index }}.push({{ value.value }})
                                }
                            </script>
                        {% endfor %}
                    </tr>

                {% endfor %}
            </tbody>

        </table><br>

    <div id="container" style="height: 400px"></div>

    <script>


        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{ table.title }}'
                },
                subtitle: {
                text: '{{ table.info }}'
                },
                xAxis: {
                    categories: arr1 // 100 200 300 ... row[0] col[1..n]
                },
                yAxis: {
                title: {
                text: '{{ table.columnLabel }}'
                }
                },
                credits: {
                    enabled: false
                },
                series: [
                    {% for row in table.rows[1:] %}
                        {
                    name: '{{ row.values|first.value }}',
                    data: arr{{ loop.index+1 }}
                    },
                    {% endfor %}]
            });
        });
    </script>




{% endblock %}