{% extends '::base.html.twig' %}

{% block title %}{{ table.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content marg-auto clearfix">

        <div>
            <h3>{{ table.title }}</h3>
            <p>{{ table.info }}</p>
        </div>

    </div>



        <table>
            <th>#</th>
            {% for header in table.rows.first.values %}
                <th>{{ header.column.name }}</th>
            {% endfor %}
            {% for row in table.rows %}
                <tr>
                    <th>
                        {{ row.name }}
                    </th>
                    {% for value in row.values %}
                        <td>{{ value.value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}


        </table><br>








{% endblock %}